/* Kita bikin css di file ini ya. File css lainnya itu bawaan dari Minia.
Do not ever modify file bawaan.
*/

h5 {
  color: #9ea0a3;
  font-weight: 300;
}

.auth-bg .bg-overlay {
  opacity: 0.7;
}

/* styling sidebar */
#sidebar-menu ul li:hover {
  background-color: hsl(252, 100%, 95%);
}

#side-menu > li.mm-active > ul > li:hover {
  background-color: hsl(252, 100%, 92%);
}

/* styling modal */
.modal-dialog {
  margin-top: 6rem;
}

/* styling kolom form yang readonly */
input:read-only:not([type="file"], [type="checkbox"]),
input:read-only:focus:not([type="file"], [type="checkbox"]) {
  background-color: var(--bs-input-disabled-bg);
}

/* styling form numerik */

#formnik::-webkit-outer-spin-button,
#formnik::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* styling dropzone */
.dropzone:hover {
  background-color: hsl(150, 4%, 80%);
}
[data-layout-mode="dark"] .dropzone:hover {
  background-color: hsl(150, 4%, 35%);
}

/* styling tabel */
.table.table-striped {
  --bs-table-striped-bg: hsl(210, 17%, 95%);
}
[data-layout-mode="dark"] .table.table-striped {
  --bs-table-striped-bg: hsl(210, 17%, 95%);
}

table.dataTable {
  border-collapse: collapse !important;
}

table.table-hover tbody tr:hover,
table.dataTable > tbody > tr.child:hover {
  background-color: hsl(210, 17%, 87%) !important;
  /* Pakai !important untuk override !important dari bootstrap */
}

.table-bordered > :not(caption) > .parent {
  border-bottom: 0px !important;
}

.table-bordered > :not(caption) > .child {
  border-top: 0px !important;
}

.table-bordered > thead > tr {
  border-top: 1px solid black;
  border-bottom: 3px double black;
}

.marquee {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  margin: 0;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .marquee {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  margin: 0;
  animation: marquee 90s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.bg-purple {
  background-color: #605ca8 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #306ee2 !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.bg-gray {
  background-color: #d2d6de !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-cyan {
  background-color: #39cccc !important;
}
.bg-footer {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.bg-footer:hover {
  background-color: rgb(0, 0, 0, 0.15) !important;
  cursor: pointer;
}
.icon-color {
  color: rgba(0, 0, 0, 0.2) !important;
}
.icon-ds {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
}

.icon-font {
  height: 0.5rem;
}

#totalAnggaran {
  font-size: 1.13rem;
}

/* Animasi icon dashboard */
.small-box:hover .icon {
  font-size: 106px;
}
.small-box .icon {
  top: 7px;
  font-size: 80px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0px;
  right: 25px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 19px;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

/* fix untuk align center icon di wizard form layanan */
.step-icon > .bx {
  line-height: 54px;
}

.pseudo_label {
  font-weight: 500;
}

.disablewizard {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1069;
  background: black;
  opacity: 25%;
  border-radius: 0.25rem;
}

.disablewizardtext {
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 3px solid #1b1b1b;
  position: absolute;
  z-index: 1070;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#buttonlihatfile:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.col-3-5 {
  flex: 0 0 29.166667%; /* Lebar kustom: (3.5/12) * 100 */
  max-width: 29.166667%;
}

.text-currency {
  display: inline-flex;
  align-items: baseline;
}
.text-currency span {
  margin-right: 4px;
  font-weight: bold;
}
